.header {
  background-color: #85a47f;
  margin-bottom: 1.45rem;

  .wrapper {
    margin: 0 auto;
    max-width: 1050px;
    padding: 1.45rem 1.0875rem;
  }

  .title {
    margin: 0;
  }

  .link {
    color: white;
    text-decoration: none;
  }
}
